# Ignore extra Road Crossing Game files
roadCrossingGame/courseFiles/
roadCrossingGame/slides/

# Ignore extra Spanish Learning Game files
spanishLearningGame/courseFiles/
spanishLearningGame/slides/

# Ignore all .jshintrc files
.jshintrc
